/*---------------------------------------------------------------
/* url
---------------------------------------------------------------*/

$url-frontend : 'http://static.larepublica.pe';
/* $url-public : 'http://static.larepublica.pe';*/
$url-public-fonts : '/assets/fonts';

$url-public : 'http://pre.static.larepublica.pe';

/* $url-frontend : 'http://larepublica.dev';*/
/* $url-public : 'http://larepublica.dev';*/
/* $url-public : 'http://localhost:3000';*/
/* $url-public-fonts : 'http://larepublica.dev/assets/fonts';*/


/*---------------------------------------------------------------
/* fonts
---------------------------------------------------------------*/
$font-primary : 'Roboto';
$font-second : 'Roboto';
$font-family-fira-sans : 'Fira Sans';
$font-family-pt-sans : 'PT Sans';
$font-family-lato : 'Lato';
$font-family-open-sans : 'Open Sans';
$font-family-fjalla-one : 'Fjalla One';
$font-family-roboto : 'Roboto';
$font-family-arial : 'arial';

$font-base-size : 62.5%; /* 10px*/
$font-body-size : 1.3;    /* 13px*/
$font-global : $font-primary;
$font-heading : 'Roboto';
$font-text : 'Roboto';


/*---------------------------------------------------------------
/* color
---------------------------------------------------------------*/
$color-primary : #E00109;
$color-second : #FCE75D;
$color-heading : #2c2c2b;
$color-text : #000;
$color-link : #000;
$color-bg-img : #eee;
$color-white : #ffffff;
$color-newsSumilla : #FF0033;



/*---------------------------------------------------------------
/* border
---------------------------------------------------------------*/
$border-color: #ddd;


/*---------------------------------------------------------------
/* $mq
---------------------------------------------------------------*/
$mq-desktop : 1024px;
$mq-tablet : 800px;
$mq-mobile : 601px;
$mq-mobile-sm : 400px;


$break-smallCellphone: 360px;
$break-footer: 404px;
$break-cellphone: 480px;
$break-cellphone500: 500px;
$break-second-row: 599px;
$break-column-home: 600px;
$break-filter: 602px;
$break-tablet-impreso: 767px;
$break-tablet: 768px;
$break-web: 998px;
$break-desktopGlr: 1000px;
$break-grid-Glr: 1080px;
$break-desktopGlrMoreOne: 1001px;
$break-Bigweb: 1200px;
$break-Landing: 1260px;
$break-desktop1300: 1300px;
$break-Laptop15pulg: 1366px;
$break-bigLaptop: 1400px;

@mixin cell360p {
  @media (min-width: #{$break-smallCellphone}) {
    @content;
  }
}

@mixin cell404p {
  @media (min-width: #{$break-footer}) {
    @content;
  }
}

@mixin cell480p {
  @media (min-width: #{$break-cellphone}) {
    @content;
  }
}

@mixin cell500p {
  @media (min-width: #{$break-cellphone500}) {
    @content;
  }
}

@mixin cell599p {
  @media (min-width: #{$break-second-row}) {
    @content;
  }
}

@mixin cell600p {
  @media (min-width: #{$break-column-home}) {
    @content;
  }
}

@mixin cell602p {
  @media (min-width: #{$break-filter}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$break-tablet}) {
    @content;
  }
}

@mixin cell800p {
  @media (min-width: #{$mq-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$break-web}) {
    @content;
  }
}

@mixin cell1000p {
  @media (min-width: #{$break-desktopGlr}) {
    @content;
  }
}

@mixin cell1001p {
  @media (min-width: #{$break-desktopGlrMoreOne}) {
    @content;
  }
}

@mixin cell1080p {
  @media (min-width: #{$break-grid-Glr}) {
    @content;
  }
}

@mixin bigDesktop {
  @media (min-width: #{$break-Bigweb}) {
    @content;
  }
}

@mixin landingDesktop {
  @media (min-width: #{$break-Landing}) {
    @content;
  }
}

@mixin cell1300p {
  @media (min-width: #{$break-desktop1300}) {
    @content;
  }
}

@mixin laptop15p {
  @media (min-width: #{$break-Laptop15pulg}) {
    @content;
  }
}

@mixin biglaptop {
  @media (min-width: #{$break-bigLaptop}) {
    @content;
  }
}

@mixin maxcell404p {
  @media (max-width: #{$break-footer}) {
    @content;
  }
}

@mixin maxtablet {
  @media (max-width: #{$break-tablet-impreso}) {
    @content;
  }
}